/recaptcha-ui/HELP.md
/recaptcha-ui/HELP.md
/recaptcha-ui/target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/recaptcha-service/HELP.md
/recaptcha-service/target/
**/.idea/
*.iws
*.iml
*.ipr