<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
<div class="container">
    <div class="info">
        <h1>Login to continue</h1>
        <p style="color:#EF3B3A" id="message" th:if="${param.error}" th:text="${param.error}"></p>
    </div>
</div>
<div class="form">
    <form class="login-form" action="/register" method="POST" id="loginForm">
        <br>
        <input type="text" placeholder="Email" name="email"/>
        <input type="password" placeholder="Password" name="password"/>
        <button class="g-recaptcha"
                data-sitekey="6LeIelkbAAAAAGXysQp1_TAEC7Hs1eySY5Izgeou"
                data-callback="submitForm"
                data-action="register">Register
        </button>
    </form>
</div>
<script type="application/javascript">
    function submitForm() {
        document.getElementById("loginForm").submit();
    }

</script>
</body>
</html>